@charset "utf-8"; 
@import url(http://ts.daumcdn.net/custom/blog/0/606/skin/images/nanumgothic.css);

#wrap{ width: 1800px; text-align: center;margin: 0 auto; font-family: '함초롬돋움';}
#wrap>img.ex{width: 80%; margin: 0 auto;}
div.main_box{margin-top: 100px; margin-left: 300px; }
img.prof{position: relative; display: block; padding: 10px; border: 1px solid grey;}

div.main_left{;}
ul{padding: 40px 20px 80px 80px; display: inline-block; float: right;  position: relative; top: -500px; left: -300px; font-size: 28px; line-height: 36px; font-weight: 500; border-left: 1px solid grey; text-align: left;}
li:first-child{font-weight: 800; font-family: "바탕체";font-size: 36px; margin-bottom: 150px;}
li:last-child{font-family: "궁서"; font-size: 22px; font-weight: 700; padding-top: 20px;}
div.btn{ margin-left: 250px; position: relative; top: -80px; left: 380px; display: inline-block; }
button{width: 250px; height: 80px;margin-right: 10px;background-color: firebrick; color: aliceblue; font-size: 25px;}

a>button:hover{background-color: indianred; }



div.hr{position: relative; margin-top: 98px; width: 80% ;border-top: 1px solid grey;}
/*
div.para_sec>div.para_2>h4{font-size: 16px; }
div.para_frst>div.para_1>h4{ margin-bottom: 10px; margin-left: 10px;}
div.para_frst>div.para_1>audio{margin-bottom: 20px;}

div.para_sec>div.para_2>h4{ margin-bottom: 10px; margin-left: 10px;}
div.para_sec>div.para_2>audio{margin-bottom: 20px;}

div.para_frst{float: right; margin-right: 400px; padding-left: 150px;height: 280px; border: 1px solid transparent; border-left-color: gray; }
div.para_sec{margin-left: 180px;}

h3.record{margin-left: 160px; margin-bottom: 30px; margin-top:50px;  font-size: 37px; font-weight: 100; color: crimson;}

div.record>div.para_frst{margin-top:-200px;height: 200px;}
div.record{margin-bottom: 50px;}

footer>span>a>img{position: relative; top: -30px; right: 10px; float: right; width: 30px; height: 30px;}

div.record>p.desc{font-size: 15px; line-height: 25px; margin-bottom: 30px; margin-left: 180px; margin-right: 180px;}


a.mimic{color: crimson;}
a.mimic:hover{text-decoration: underline; font-weight: 800;}
/*
