@charset "utf-8"; 
@import url(http://ts.daumcdn.net/custom/blog/0/606/skin/images/nanumgothic.css);

#wrap{ width: 1516px; font-family: '함초롬돋움';}
#wrap>img{width: 100%; }
/*
div.para_sec>div.para_2>h4{font-size: 16px; }
div.para_frst>div.para_1>h4{ margin-bottom: 10px; margin-left: 10px;}
div.para_frst>div.para_1>audio{margin-bottom: 20px;}

div.para_sec>div.para_2>h4{ margin-bottom: 10px; margin-left: 10px;}
div.para_sec>div.para_2>audio{margin-bottom: 20px;}

div.para_frst{float: right; margin-right: 400px; padding-left: 150px;height: 280px; border: 1px solid transparent; border-left-color: gray; }
div.para_sec{margin-left: 180px;}

h3.record{margin-left: 160px; margin-bottom: 30px; margin-top:50px;  font-size: 37px; font-weight: 100; color: crimson;}

div.record>div.para_frst{margin-top:-200px;height: 200px;}
div.record{margin-bottom: 50px;}

footer>span>a>img{position: relative; top: -30px; right: 10px; float: right; width: 30px; height: 30px;}

div.record>p.desc{font-size: 15px; line-height: 25px; margin-bottom: 30px; margin-left: 180px; margin-right: 180px;}


a.mimic{color: crimson;}
a.mimic:hover{text-decoration: underline; font-weight: 800;}
/*
